/*------------------------ Animations ------------------------*/

@keyframes rotatePlanet {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*------------------------ Phone Responsive ------------------------*/

@media screen and (max-width : 759px) {
    .containerPlanetComp {
        flex-direction: column;
        margin-top: 3vh;
    }
    .containerPlanetContent{
        align-items: center;
        width: 100%;
    }
    .containerPlanetStats {
        flex-direction: column;
        text-align: center;
        margin-bottom: 3vh;
        gap: 3vw;
    }
    .planetImage {
        width: 15rem;
        height: 15rem;
    }
    .descriptionPlanet {
        padding: 1rem;
        text-align: center;
    }
    .lineDescription{
        width: 90%;
        margin: .5rem;
        margin-bottom: 2rem;
    }
}

/*------------------------ Tablet Responsive ------------------------*/

@media screen and (min-width:760px) and (max-width : 1199px) {
    .containerPlanetComp {
        flex-direction: column;
        margin-top: 3vh;
    }
    .containerPlanetContent{
        align-items: center;
        width: 100%;
    }
    .containerPlanetStats {
        flex-direction: row;
        text-align: center;
        margin-bottom: 3vh;
        gap: 8vw;
    }
    .containerPlanetMenu {
        margin-top: -2rem;
    }
    .planetImage {
        width: 20rem;
        height: 20rem;
    }
    .descriptionPlanet {
        max-width: 60vw;
        padding: 1rem;
        text-align: center;
    }
    .lineDescription{
        width: 80%;
        margin: .5rem;
        margin-bottom: 2rem;
    }
}

/*------------------------ Computer Responsive ------------------------*/

@media screen and (min-width : 1200px) {
    .containerPlanetComp {
        flex-direction: row;
        height: 30rem;
        margin-top: 10vh;
    }
    .containerPlanetContent {
        width: max-content;
    }
    .containerPlanetStats {
        flex-direction: row;
        gap: 3vw;
    }
    .planetImage {
        width: 27rem;
        height: 27rem;
    }
    .descriptionPlanet {
        width: 25vw;
    }
    .lineDescription {
        width: 100%;
        margin-top: 3.5rem;
        margin: 2rem 0;
    }
}

/*------------------------ Containers ------------------------*/

.containerPlanetMenu {
    gap: 2vw;
}

.containerPlanetStats {
    display: flex;
}

.containerPlanetComp {
    display: flex;
    justify-content: center;
    gap: 10vw;
}

/*------------------------ Others ------------------------*/

.lineDescription{
    display: block;
    height: 1px;
    z-index: 999;
    background: #383B4B;
}

.planetImage {
    align-self: center;
    margin-top: 1rem;
    animation: rotatePlanet 60s linear infinite;
    transform-style: preserve-3d;
}

/*------------------------ Texts ------------------------*/

.containerPlanetMenu h2 {
    padding: .8rem 0rem;
    border: 3px solid transparent;
    color: #D0D6F9;
}

.containerPlanetMenu h2:hover {
    cursor: pointer;
    border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}

.planetName {
    margin-top: 3vh;
    text-transform: uppercase;
}

.descriptionPlanet {
    white-space: pre-wrap;
}