/*------------------------ Phone Responsive ------------------------*/

@media screen and (max-width : 759px) {
    .line {
        display: none;
    }
    .containerNav {
        padding-top: 4vh;
        width: 100%;
    }
    .containerLinks {
        flex-direction: column;
        position: fixed;
        right: 0;
        top: 0;
        height: 100%;
    }
    .containerCat {
        margin: 1rem 0rem 1rem 1rem;
        padding-right: 5rem;
        padding-left: 1.5rem;
        gap: 3vw;
        border-right: 3px solid transparent;
    }
    .containerCat:hover {
        border-right: 3px solid rgba(255, 255, 255, 0.5);
    }
    .containerNav .logo {
        min-width: 7rem;
        margin-left: 8vw;
        margin-right: 5rem;
    }
    .burgerPlacement {
        align-self: flex-end;
        margin: 2rem;
        margin-bottom: 8vh;
        transform: scale(1.5);
        margin-top: 3rem;
    }
    .burgerPlacement:hover{
        cursor: pointer;
    }
    .containerLinksGap {
        display: flex;
        flex-direction: column; 
        gap: 2vw;
    }
}

/*------------------------ Tablet Responsive ------------------------*/

@media screen and (min-width:760px) and (max-width : 1200px) {
    .line {
        display: none;
    }
    .containerLinks {
        flex-direction: row;
        justify-content: space-between;     
        padding-left: 7vw;       
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(40.7742px);
    }
    .containerCat {
        justify-content: center;
        align-items: center;
        gap: .8vw;
        padding: 2.5rem 1rem;
        border-bottom: 3px solid transparent;
    }
    .containerNav{
        width: 100%;
    }
    .containerCat:hover {
        border-bottom: 3px solid rgba(255, 255, 255, 0.5);
    }
    .containerNav .logo {
        margin: 1rem;
        margin-left: 3vw;
    }
    .containerLinksGap {
        display: flex;
        flex-direction: row; 
        gap: 2vw;
    }
  
}

/*------------------------ Computer Responsive ------------------------*/

@media screen and (min-width : 1200px) {
    .containerLinks {
        flex-direction: row;
        justify-content: space-between;
        max-width: 50vw;
        padding: 0rem 7vw;
        padding-right: 9vw;
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(40.7742px);
    }
    .containerCat {
        justify-content: center;
        align-items: center;
        gap: .8vw;
        padding: 2.5rem 1rem;
        border-bottom: 3px solid transparent;
    }
    .containerCat:hover {
        border-bottom: 3px solid rgba(255, 255, 255, 0.5);
    }
    .containerNav .logo {
        min-width: 7rem;
        margin: 1rem;
        margin-left: 3vw;
        margin-right: 5rem;
    }
    .containerLinksGap {
        display: flex;
        flex-direction: row; 
        gap: 2vw;
    }
    .containerNav {
        padding-top: 4vh;
    }
}

/*------------------------ Containers ------------------------*/

.containerLinks {
    display: flex;
}

.containerCat {
    user-select: none;
    text-align: center;
}

.containerNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    z-index: 999;
}

/*------------------------ Texts ------------------------*/

.nbNav {
    font-weight: 700;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

/*------------------------ Others ------------------------*/

.line {
    width: 42vw;
    margin-left: 10vw;
    height: 1px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.25;
    position: absolute;
    z-index: 999;
}