/*------------------------ Phone Responsive ------------------------*/

@media screen and (max-width : 759px) {
    .containerCrewPage {
        align-items: center;
    }
}

/*------------------------ Containers ------------------------*/

.containerCrewPage {
    height: 100%;
    min-width: 100vw;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    filter:brightness(80%) contrast(100%);
    -webkit-filter:  brightness(80%) contrast(100%);
    -moz-filter:  brightness(80%) contrast(100%);
}