.containerCrewPage {
    min-width: 100vw;
    min-height: 100vh;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    filter:brightness(80%) contrast(100%);
    -webkit-filter:  brightness(80%) contrast(100%);
    -moz-filter:  brightness(80%) contrast(100%);
   
}

@media screen and (max-width : 759px) {
    .containerCrewPage {
        align-items: center;
    }
}

/*------------------------ Tablet Responsive ------------------------*/

@media screen and (min-width:760px) and (max-width : 1199px) {

}

/*------------------------ Computer Responsive ------------------------*/

@media screen and (min-width : 1200px) {

   
}