.containerHomePage {
    background-image: url(../../assets/home/background-home-desktop.jpg);
    min-width: 100vw;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    filter:brightness(80%) contrast(100%);
    -webkit-filter:  brightness(80%) contrast(100%);
    -moz-filter:  brightness(80%) contrast(100%);
}

.containerTextHome{
    width: 23vw;
    margin-top: 25vh;
    margin-left: 12vw;
}

.titleHomePage {
    margin-top: 2.5rem;
}

.btnHomePage {
    text-transform: uppercase;
    background-color: #FFFFFF;
    color: black;
    padding: 7rem 3.5rem;
    border-radius: 999px;
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    letter-spacing: 2px;
    position: absolute;
    right: 15%;
    bottom: 20%;
}

.btnHomePage:hover {
    color: black;
    outline: 50px solid rgba(255, 255, 255, 0.151);
    transition: .5s;
}