/*------------------------ Phone Responsive ------------------------*/

@media screen and (max-width : 759px) {
    .containerTextHome {
        width: 90%;
        text-align: center;
        padding: 1rem;
        margin-top: 5vh;
   
    }
    .btnHomePage {
        padding: 5rem 1.5rem;
        font-size: 32px;
        line-height: 37px;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }

    .containerHomePage {
        align-items: center;
    }
}

/*------------------------ Tablet Responsive ------------------------*/

@media screen and (min-width:760px) and (max-width : 1199px) {
    .containerTextHome {
        width: 90%;
        margin-top: 8vh;
        text-align: center;
    }
    .btnHomePage {
        padding: 5rem 1.5rem;
        font-size: 32px;
        line-height: 37px;
        right: 50%;
        bottom: 20%;
    }
    .containerHomePage {
        align-items: center;
    }
    .titleHomePage {
        margin-top: 2.5rem;
    }
    
}

/*------------------------ Computer Responsive ------------------------*/

@media screen and (min-width : 1200px) {
    .containerTextHome {
        width: 23vw;
        margin-top: 22vh;
        margin-left: 12vw;
    }
    .btnHomePage {
        padding: 7rem 3.5rem;
        font-size: 32px;
        line-height: 37px;
        right: 15%;
        bottom: 28%;
        position: absolute;
    }
    .titleHomePage {
        margin-top: 2.5rem;
    }
    
}


.containerHomePage {
    min-width: 100vw;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    filter:brightness(80%) contrast(100%);
    -webkit-filter:  brightness(80%) contrast(100%);
    -moz-filter:  brightness(80%) contrast(100%);
}


.btnHomePage {
    text-transform: uppercase;
    background-color: #CCDBFF;
    color: black;
    border-radius: 999px;
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2px;
}

.btnHomePage:hover {
    color: black;
    outline: 50px solid rgba(255, 255, 255, 0.151);
    transition: .5s;
}