/*------------------------ Phone Responsive ------------------------*/

@media screen and (max-width : 759px) {
    .containerCrewComponent {
        flex-direction: column;
        gap: 8vh;
    }
    .contentContainerCrew {
        text-align: center;
        align-items: center;
        padding: 2rem;
    }
    .titleCrewPageContainer{
        justify-content: center;
    }
    .navCrewMembersContainer {
        margin-bottom: 3vh;
        gap: 3vw;
    }
    .crewImg {
        height: 15rem;
        max-height: 90%;
        margin-top: 4vh;
        object-fit: contain;
    }
    .lineCrew{
        display: block;
        width: 100%;
        height: 2px;
        margin-bottom: 2rem;
        z-index: 999;
        background: #383B4B;
    }
    .navCrewMembersContainer span {
        width: .65rem;
        height: .65rem;
    }
}

/*------------------------ Tablet Responsive ------------------------*/

@media screen and (min-width:760px) and (max-width : 1199px) {
    .containerCrewComponent {
        flex-direction: column;
        gap: 3vh;
    }
    .contentContainerCrew {
        text-align: center;
        align-items: center;
        padding: 0 2rem;
    }
    .titleCrewPageContainer{
        justify-content: flex-start; 
        margin-bottom: 3vh;
    }
    .containerDescpCrew{
        justify-content: center;
        align-items: center;
    }
    .navCrewMembersContainer {
        margin-top: 3vh;
    }
    .navCrewMembersContainer {
        gap: 1vw;
    }
    .crewImg {
        height: 50vh;
        max-height: 90%;
        object-fit: contain;
    }
    .bioSize {
        width: 65%;
    }
    .navCrewMembersContainer span {
        width: .9rem;
        height: .9rem;
    }
}

/*------------------------ Computer Responsive ------------------------*/

@media screen and (min-width : 1200px) {
    .containerCrewComponent {
        flex-direction: row;
        height: 82vh;
        gap: 8vw;
    }
    .contentContainerCrew {
        width: 30vw;
        height: 28vh;
        margin-left: 15%;
        margin-top: 5%;
    }
    .titleCrewPageContainer{
        justify-content: flex-start;
        margin-bottom: 13vh;
    }
    .navCrewMembersContainer {
        margin-top: 12vh;
    }
    .navCrewMembersContainer {
        gap: 1vw;
    }
    .crewImg {
        max-height: 90%;
        margin-top: 10vh;
        object-fit: contain;
    }
    .bioSize {
        width: 75%;
    }
    .navCrewMembersContainer span {
        width: .9rem;
        height: .9rem;
    }
}

/*------------------------ Containers ------------------------*/

.containerCrewComponent {
    display: flex;
    margin-top: 3vh;
}

.titleCrewPageContainer {
    width: 100%;
    gap: 1vw;
}

/*------------------------ Texts ------------------------*/

.roleColor {
    mix-blend-mode: normal;
    opacity: 0.5;
    color: #FFFFFF;
}

.roleMargin {
    margin-top: 1.5rem;
}

.numberTitleCrewPage {
    font-weight: 700;
    mix-blend-mode: normal;
    opacity: 0.25;
    color: #FFFFFF;
}

.titleCrewPage {
    text-transform: uppercase;
    color: #FFFFFF;
}

.navCrewMembersContainer span {
    border-radius: 999px;
    background-color: #ffffff77;
}

.navCrewMembersContainer span:hover {
    cursor: pointer;
    transition: .3s;
    background-color: #ffffffc5;
}
