/*------------------------ Phone Responsive ------------------------*/

@media screen and (max-width : 759px) {
    .containerMenuLauch{
        flex-direction: row;
        margin-top: 6vh;
    }
    .containerContentTech {
        flex-direction: column;
    }
    .techDescription {
        width: 65%;
        margin-top: 5vh;
        text-align: center;
    }
    .btnLauch {
        width: 1.5rem;
        padding: .3rem .8rem;
        font-size: 20px;
        text-align: center;
    }
    .imgTech {
        width: 100%; 
    }
}

/*------------------------ Tablet Responsive ------------------------*/

@media screen and (min-width:760px) and (max-width : 1199px) {
    .containerMenuLauch{
        flex-direction: row;
        margin-top: 6vh;
    }
    .containerContentTech {
        flex-direction: column;
    }
    .techDescription {
        width: 65%;
        margin-top: 5vh;
        text-align: center;
    }
    .btnLauch {
        width: 1.5rem;
        padding: 1rem 1.5rem;
        font-size: 36px;
        text-align: center;
    }
    .imgTech {
        width: 100%; 
    }
}

/*------------------------ Computer Responsive ------------------------*/

@media screen and (min-width : 1200px) {
    .containerMenuLauch{
        flex-direction: column;
    }
    .containerContentTech{
        flex-direction: row;
        justify-content: space-around;
    }
    .techDescription {
        width: 23vw;
    }
    .btnLauch {
        padding: 2.5rem ;
        font-size: 72px;
    }
}

/*------------------------ Containers ------------------------*/

.containerMenuLauch {
    display: flex;
    gap: 5vh;
}

.containerContentTech {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 9vh;
}

.techDescription{
    gap: 3vh;
}

/*------------------------ Buttons ------------------------*/

.btnLauch {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 999px;
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    line-height: 37px;
    text-align: center;
    letter-spacing: 2px;
    color: white;
    outline: 2px solid #ffffff7d;
    border: 3px solid transparent;
}

.btnLauch:hover {
    cursor: pointer;
    border: 3px solid white;
}